@import "tailwindcss";

body {
  background-color: #121212; /* Dark theme base color */
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #1f1f1f 1px, transparent 1px), /* Dark gray grid lines */
    linear-gradient(to bottom, #1f1f1f 1px, transparent 1px); /* Dark gray grid lines */
  color: #f5f5f5; /* Light text color for contrast */
}